@font-face {
  font-family: "Friz Quadrata";
  font-weight: normal;
  src: url("./fonts/Friz Quadrata Regular.ttf");
}

@font-face {
  font-family: "Friz Quadrata";
  font-weight: bold;
  src: url("./fonts/Friz Quadrata Bold.otf");
}

@font-face {
  font-family: "Friz Quadrata";
  font-style: italic;
  src: url("./fonts/Friz Quadrata Italic.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Friz Quadrata";
  color: #CD9B1D;
  text-align: center;
}

body {
  background-image: url(./card-imgs/BackGround.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 20px;
}

#roles-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.role-card {
  width: 130px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.selected-card {
  border-width: 2px;
  border-style: solid;
  border-color: #CD9B1D;
}

.role-card img {
  display: block;
  width: 100%;
}

.role-card h3 {
  position: absolute;
  bottom: 3px;
  color: #ffffff94;
  font-size: 1em;
  margin: 0;
}

.container {
  display: block;
}

#champions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  gap: 75px;
  cursor: grab;
}

.champion-lol {
  width: calc(33.33% - 2 * 75px / 3);
  font-size: 30px;
  text-shadow: 10px 10px 20px #CD9B1D;
}

.champion-lol img {
  display: block;
  width: 100%;
}